---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Domingos" description="About Domingos Pinto-Coelho">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <div class="about-img">
          <img
            width="360"
            height="auto"
            src="/assets/Domingos-in-AI.jpg"
            alt="Domingos in an AI image"
          />
        </div>
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            With over six years of experience in delivering high-quality digital experiences across platforms, I specialize in crafting scalable, user-centered solutions that drive engagement and business growth. I bring a multicultural perspective, fluent in Spanish, Portuguese, and English, which enhances my ability to design for diverse audiences, ensuring inclusivity and empathy in every project.
</p><p></br>
            In my current role at Atradius, I’ve led the redesign of complex user flows using a React-based design system, improving scalability and consistency across web products. My work, grounded in thorough user research and usability testing, has delivered key solutions that significantly enhance user satisfaction. My leadership extends across cross-functional teams, ensuring alignment between design and product goals while optimizing both UX and accessibility with AA/AAA WCAG standards.
          </p><p></p></br>
            My past leadership at Zasady laid the foundation for my current success. At Zasady, I took the initiative to redesign marketplace UI and drive up online sales by 20%, leveraging A/B testing and user behavior analytics to improve conversion rates and reduce abandonment by 25%. This experience motivated me to pursue product management education, enhancing my ability to coordinate teams and workflows at scale, which I now apply at Atradius.
          </p><p></br>
            I see AI as a key supporting tool in my work, allowing me to stay ahead of tech trends and integrate cutting-edge solutions into user experiences. My goal is to continue helping businesses scale, refining their products while ensuring each solution is built with empathy, inclusivity, and a keen eye on business requirements and scalability.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>University Isabel I: Master in Artificial Inteligence.</p>
          <br />
          <p>Brainstation:  Master in Product Management.</p>
          <br />
          <p>Neoland:  Immersive course of Web Development.</p>
          <br />
          <p>Neoland:  Immersive course of UX/UI Design.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>UX/UI Design</p>
          <p>Front-End Development</p>
          <p>Product Management</p>
          <p>Artificial Inteligence</p>
          <p>SEM & SEO</p>
          <p>Data Analysis</p>
          <p>Problem Solving</p>
          <p>Communication and Collaboration</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
  .about-img {
    align-items: center;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
