---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Domingos" description="About Domingos Pinto-Coelho">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<div class="about-img">
					<img
						width="360"
						height="auto"
						src="/assets/Domingos-in-AI.jpg"
						alt="Domingos in an AI image"
					/>
				</div>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As a UX/UI Designer, I possess a keen ability to
						understand user needs and create meaningful solutions.
						My focus is on crafting user experiences that drive
						engagement and satisfaction, tailoring each design to
						meet the unique needs of the users.
					</p>
					<br />
					<p>
						In my current role at Zasady, I take pride in achieving
						remarkable conversion rates and revenue growth by both
						optimizing existing experiences and creating
						user-centric designs from scratch. I lead
						cross-functional teams, conduct thorough user and market
						research, and deliver high-quality designs across
						different platforms, ensuring that each product
						resonates with its intended audience.
					</p>
					<br />
					<p>
						At Nanos - AI Marketing, I successfully redesigned the
						Design System, ensuring a cohesive and visually
						appealing brand identity. My emphasis on user research
						and usability testing allowed me to identify and resolve
						UX issues, resulting in improved user satisfaction and
						engagement.
					</p>
					<br />
					<p>
						With a background in Web Development, UX/UI Design, and
						Product Management, I bring a holistic perspective to my
						design approach, ensuring that every aspect of the user
						experience is carefully crafted to leave a lasting
						impact, that also contributes to the overall success and
						growth of the product.
					</p>
					<br />
					<p>
						Outside of work, I enjoy reading, hiking, and staying
						up-to-date with the latest UX design trends and
						technologies. Fluent in Spanish, Portuguese, and
						English, I bring a multicultural perspective to my
						designs, emphasizing empathy and inclusivity in every
						user interaction. I'm driven to creating user-centric
						experiences that enhance product usability and delight
						users, whether it's optimizing existing interfaces or
						starting from the ground up. I am committed to pushing
						the boundaries of UX/UI design, ensuring that each user
						journey is seamless and intuitive.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						Brainstation (May 2023 - Aug 2023): Completed a 3-month
						immersive training in Product Management.
					</p>
					<br />
					<p>
						Neoland (Apr 2019 - Jul 2019): Completed a 3-month
						immersive training in Web Development.
					</p>
					<br />
					<p>
						Neoland (Jan 2019 - Apr 2019): Completed a 3-month
						immersive training in UX/UI Design.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>UX/UI Design</p>
					<p>Product Management</p>
					<p>Marketing Strategy</p>
					<p>Search Engine Marketing</p>
					<p>Data Analysis</p>
					<p>Problem Solving</p>
					<p>Communication and Collaboration</p>
					<p>Front-End Development</p>
					<p>Multilingual</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
	.about-img {
		align-items: center;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
