---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Domingos" description="About Domingos Pinto-Coelho">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="360"
					height="auto"
					src="/assets/Domingos-in-AI.jpg"
					alt="Domingos in an AI image"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a UX/UI Designer and Marketing Strategist with a knack for identifying user needs and developing data-driven solutions. As an experienced designer, I excel at optimizing user experiences and driving engagement.
<p><br>
						Currently, I work as a UX/UI Designer & Marketing Strategist at Zasady, where I've achieved record-breaking conversion rates and revenue growth through end-to-end customer experience improvements. I lead cross-functional teams, provide strategic recommendations, and help scale internal systems.
					</p><p></p><br>
						Previously, at Nanos - AI Marketing, I redesigned the Design System, conducted user research, and delivered high-quality user experiences across platforms. My educational background includes training in Web Development and UX/UI Design, along with a passion for performative arts, photography, and music.
					</p><p><br>
						Outside of work, I enjoy reading, hiking, exploring culinary delights, and staying updated on the latest trends and technologies. Fluent in Spanish and Portuguese, I bring a multicultural perspective to my projects.
					</p><p>
						I'm driven by a passion for creating exceptional user experiences and contributing to organizational growth through strategic marketing initiatives.

					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Brainstation (May 2023 - Aug 2023): Pursuing ongoing professional development in <strong>Product Management.</strong>
						</p>
						<p> NEOLAND (Apr 2019 - Jul 2019): Completed a 3-month immersive training in <strong>Web Development.</strong>
							</p>
							<p>NEOLAND (Jan 2019 - Apr 2019): Completed a 3-month immersive training in <strong>UX/UI Design.</strong>
								</p>
								<p>Teatro Experimental Cascais (Jan 2017 - Jan 2019): Engaged in a 2-year program focused on <strong> performative arts, photography, and music.</strong></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>UX/UI Design</p>
					<p>Product Management</p>
					<p>Marketing Strategy</p>
					<p>Front-End Development</p>
					<p>Data Analysis</p>
					<p>Problem Solving</p>
					<p>Communication and Collaboration</p>
					<p>Multilingual</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
